*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    outline: none;
}

a{
    text-decoration: none;
}

li{
   list-style: none;
}